[submodule "src/xeninfo-rikumi"]
	path = src/xeninfo-rikumi
	url = https://github.com/rikumi/XenInfo
[submodule "src/rikumi-iwidget"]
	path = src/rikumi-iwidget
	url = https://github.com/rikumi/rikumi-iwidget
[submodule "headers"]
	path = headers
	url = https://github.com/nst/iOS-Runtime-Headers
